<ion-view title="UW Oshkosh">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <div class="row">
      <div class="col">
        <img src="img/uwo-aerial.jpg" style="width:100%;">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h4>The University of Wisconsin Oshkosh &mdash; Where Excellence and Opportunity Meet</h4>
        <p>
          With 60 undergraduate degrees, more than 100 minors, 15 graduate programs and a doctoral program, UW Oshkosh is your place to find your path, grow your world, learn to lead and succeed.
        </p>
        <p>
          As the third largest university in the state with more than 13,900 students, UW Oshkosh provides opportunities to explore your interests and passions.
        </p>
        <p>
          UW Oshkosh is where you meet education, leadership, responsiveness, service and sustainability.
        </p>
        <div class="video-container">
          <iframe width="854" height="510" src="http://www.youtube.com/embed/4rqxUXoGs04" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
