<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title"><a nav-clear menu-close href="#/app/home"><img src="img/uwo-wordmark.png" style="height:36px;width:auto;"></a></h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close class="item-avatar" href="#/app/news-and-events">
          <img src="img/icons/news.png">
          <h2>News &amp; Events</h2>
          <p>See what's happening at UW Oshkosh</p>
        </ion-item>
        <ion-item nav-clear menu-close class="item-avatar" href="#/app/people-and-places">
          <img src="img/icons/peopleplaces.png">
          <h2>People &amp; Places</h2>
          <p>Search for people and places</p>
        </ion-item>
        <ion-item nav-clear menu-close class="item-avatar" href="#/app/quicklinks">
          <img src="img/icons/quicklinks.png">
          <h2>Quicklinks</h2>
          <p>One tap access</p>
        </ion-item>
        <ion-item nav-clear menu-close class="item-avatar" href="#/app/stay-connected">
          <img src="img/icons/connected.png">
          <h2>Stay Connected</h2>
          <p>Get social</p>
        </ion-item>
        <ion-item nav-clear menu-close class="item-avatar" href="#/app/campus-services">
          <img src="img/icons/campusservices.png">
          <h2>Campus Services</h2>
          <p>Useful information</p>
        </ion-item>
        <ion-item nav-clear menu-close class="item-avatar" href="#/app/emergency">
          <img src="img/icons/emergency.png">
          <h2>Emergency</h2>
          <p>In an emergency</p>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
