<ion-view title="UWO Twitter">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <div class="list">

        <a class="item item-avatar item-icon-right">
          <img src="img/icons/stay-connected/twitter/UWOshkosh.jpg">
          <h2>UW Oshkosh</h2>
          <p>@uwoshkosh</p>
          <i class="icon ion-ios7-arrow-right"></i>
        </a>

        <a class="item item-avatar item-icon-right">
          <img src="img/icons/stay-connected/twitter/UWOshkoshToday.jpg">
          <h2>UW Oshkosh Today</h2>
          <p>@UWOshkoshToday</p>
          <i class="icon ion-ios7-arrow-right"></i>
        </a>

        <a class="item item-avatar item-icon-right">
          <img src="img/icons/stay-connected/twitter/UWOshkoshEngage.jpg">
          <h2>UW Oshkosh Engage</h2>
          <p>@UWOshkoshEngage</p>
          <i class="icon ion-ios7-arrow-right"></i>
        </a>

        <a class="item item-avatar item-icon-right">
          <img src="img/icons/stay-connected/twitter/UWOAdmissions.jpg">
          <h2>UW Oshkosh Admissions</h2>
          <p>@UWOAdmissions</p>
          <i class="icon ion-ios7-arrow-right"></i>
        </a>

        <a class="item item-avatar item-icon-right">
          <img src="img/icons/stay-connected/twitter/UWOshkoshTitans.jpg">
          <h2>UW Oshkosh Athletics</h2>
          <p>@UWOshkoshTitans</p>
          <i class="icon ion-ios7-arrow-right"></i>
        </a>

    </div>

  </ion-content>
</ion-view>
