<ion-view title="UW Oshkosh">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <div class="list">

        <a class="item item-avatar item-icon-right">
          <img src="img/icons/campus-services/polk-library/polk.png">
          <h2>Computers Available Now</h2>
          <p>Find available computers</p>
          <i class="icon ion-ios7-arrow-right"></i>
        </a>

        <a class="item item-avatar item-icon-right">
          <img src="img/icons/campus-services/polk-library/polk.png">
          <h2>Library Hours</h2>
          <p>Polk hours for the next few days</p>
          <i class="icon ion-ios7-arrow-right"></i>
        </a>

        <a class="item item-avatar item-icon-right">
          <img src="img/icons/campus-services/polk-library/polk.png">
          <h2>Find Books &amp; Videos</h2>
          <p>Search the catalog</p>
          <i class="icon ion-ios7-arrow-right"></i>
        </a>

        <a class="item item-avatar item-icon-right">
          <img src="img/icons/campus-services/polk-library/polk.png">
          <h2>GroupFinder</h2>
          <p>Groups meeting the next few days</p>
          <i class="icon ion-ios7-arrow-right"></i>
        </a>

    </div>

  </ion-content>
</ion-view>
