<ion-view title="Schedule">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  <ion-content class="has-header">

    <div class="list card">

      <div class="item item-divider item-text-wrap">
        <h2>Sunday, August 31</h2>
      </div>

      <div class="item item-body">
        
        <h3>9:00am-4:00pm</h3>
        <p>Residence hall move-in. First year students only. Returning students welcome to help.</p>

        <h3>3:30pm</h3>
        <p>Goodbye to families.</p>

        <h3>4:00pm-5:15pm</h3>
        <p>Residence hall floor meetings and commuter student meetings. All first-year students are required to attend these meetings</p>

        <h3>5:30pm</h3>
        <p>Opening Welcome at Kolf Sports Center</p>

        <h3>6:30pm-8:00pm</h3>
        <p>Welcome Picnic</p>

        <h3>8:00pm-11:00pm</h3>
        <p>Red Carpet Event at Reeve Memorial Union, Residence Life, and USRH</p>
      </div>
    </div>

    <div class="list card">

      <div class="item item-divider item-text-wrap">
        <h2>Monday, September 1</h2>
      </div>

      <div class="item item-body">

        <h3>7:30am</h3>
        <p>Wake up</p>

        <h3>8:30am</h3>
        <p>Students meet with Odyssey Leaders.</p>

        <h3>9:00am</h3>
        <p>Odyssey 2014 Check-In at Kolf Sports Center. All first year students required to attend.</p>

        <h3>9:15am</h3>
        <p>"Non-violent Sexuality: Making Peace with Passion" presentation.</p>

        <h3>10:30am-11:00am</h3>
        <p>Advising for success.</p>

        <h3>11:00am-2:00pm</h3>
        <p>Rotation for lunch. "We are Titans", Lunch, Odyssey sessions.</p>

        <h3>2:00pm-4:00pm</h3>
        <p>Dinner</p>

        <h3 class="italic">After Dinner</h3>
        <p>Organize room, meet with other students, get books (closes at 5:00pm), work out at Recreation Center (closes midnight).</p>

        <h3>8:00pm</h3>
        <p>Jen Kober, Comedian, in Reeve Ballroom</p>
      </div>
    </div>

    <div class="list card">
      
      <div class="item item-divider item-text-wrap">
        <h2>Tuesday, September 2</h2>
      </div>

      <div class="item item-body">
        
        <h3>7:15am</h3>
        <p>Wake up and breakfast on your own.</p>

        <h3>8:30am</h3>
        <p>Students meet with Odyssey leader.</p>

        <h3>8:45am</h3>
        <p>Odyssey 2014 at Kolf Sports Center.</p>

        <h3>9:00am</h3>
        <p>Andy Stoll, Inperational Speaker.</p>

        <h3>10:00am-11:00am</h3>
        <p>Explore UW-Oshkosh. Find classes, computer labs, and other important locations.</p>

        <h3>11:00am-1:00pm</h3>
        <p>Employment Fair. Get hired on or off campus here.</p>

        <h3>11:00am-2:00pm</h3>
        <p>Taste of UW-Oshkosh. Get involved in clubs!</p>

        <h3>11:30am-1:00pm</h3>
        <p>Lunch on the Lawn. Grab a bite on the lawn using you meal plan in front of Dempsey Hall.</p>

        <h3>2:00pm</h3>
        <p>Chancellor's fun run/walk on trail by the Student Rec Center.</p>

        <h3>5:00pm-7:00pm</h3>
        <p>Titan Backyard Bash. Food, Games, and Fun located on Fletcher Hall lawn!</p>

        <h3>9:00pm</h3>
        <p>Outdoor Movie.</p>
      </div>
    </div>

    <div class="list card">
      
      <div class="item item-divider item-text-wrap">
        <h2>Wednesday, September 3</h2>
      </div>

      <div class="item item-body">

        <h3>8:00am</h3>
        <p>First day of classes!! :)</p>

        <h3>7:00pm</h3>
        <p>John Cassidy, Magician, in Reeve Ballroom</p>
      </div>
    </div>

    <div class="list card">
      
      <div class="item item-divider item-text-wrap">
        <h2>Thursday, September 4</h2>
      </div>

      <div class="item item-body">
        
        <h3>5:00pm-6:30pm</h3>
        <p>Greek Information Night in Reeve Union Theater, Room 307</p>

        <h3>7:00pm</h3>
        <p>Local Live Music Night - Outdoor Show on Albee patio</p>

        <h3>7:11pm</h3>
        <p>Movie in Reeve Theater, Room 307</p>
      </div>
    </div>

    <div class="list card">
      
      <div class="item item-divider item-text-wrap">
        <h2>Friday, September 5</h2>
      </div>

      <div class="item item-body">
        
        <h3>8:30pm-12:00am</h3>
        <p>Titan Nights! Join this campus favorite with food, games, hypnotist Dan Lornitis and more!</p>

        <h3>9:15pm-10:30pm</h3>
        <p>Twelfth Annual “Murder in the Stacks: A Polk Library Murder Mystery”. Solve the crime committed in Polk Library after closing! Prizes will be given to the first people to solve the mystery.</p>
      </div>
    </div>

    <div class="list card">
      
      <div class="item item-divider item-text-wrap">
        <h2>Saturday, September 6</h2>
      </div>

      <div class="item item-body">
        
        <h3>12:00pm-7:00pm</h3>
        <p>Intramural Sports 4 vs. 4 Sand Volleyball Tournament, sand volleyball courts</p>

        <h3>1:37pm and 7:11pm</h3>
        <p>Movie in Reeve Theater, Room 307</p>
      </div>
    </div>

    <div class="list card">
      
      <div class="item item-divider item-text-wrap">
        <h2>Monday, September 8</h2>
      </div>

      <div class="item item-body">
        
        <h3>6:00pm-7:30pm</h3>
        <p>Sorority Recruitment Information Night, Reeve Union Theater Room 307.</p>
      </div>
    </div>

    <div class="list card">
      
      <div class="item item-divider item-text-wrap">
        <h2>Tuesday, September 9</h2>
      </div>

      <div class="item item-body">
        
        <h3>6:00pm-7:30pm</h3>
        <p>Fraternity Recruitment Information Night, Reeve Union Theater Room 307.</p>
      </div>
    </div>

  </ion-content>
</ion-view>
